<%= simple_form_for @company, :url => wizard_path do |f| %>
 

<h3>General Company Information</h3>
  <div class="form-inputs">
  	
    <%= f.input :name, label: "Company name", placeholder: "Enter company name"  %>
    
    <%= f.input :contact, label: "Contact(s)", placeholder: "Names of people involved" %>
   
    <%= f.input :email, label: "Email(s)", placeholder: "Emails of contacts" %>
    
    <%= f.label "Industry" %>
    <%= f.collection_select :industry, Company::INDUSTRIES, :to_s, :to_s, 
       :include_blank => true %>
    <%= f.input :other1, label: "Other"%>
   
    <div class="actions">
       <%= f.submit "Continue" %>
  	</div>
<% end %>
