<h1>Listing host_preferences</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @host_preferences.each do |host_preference| %>
  <tr>
    <td><%= host_preference.name %></td>
    <td><%= link_to 'Show', host_preference %></td>
    <td><%= link_to 'Edit', edit_host_preference_path(host_preference) %></td>
    <td><%= link_to 'Destroy', host_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host preference', new_host_preference_path %>
