<h1>Start here</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Companies
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Company', new_company_path %>
    <%= link_to 'List', companies_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Industries
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Industry', new_industry_path %>
    <%= link_to 'List', industries_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Current System
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Currentsystem', new_currentsystem_path %>
    <%= link_to 'List', currentsystems_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Hosting Preference
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Host preference', new_host_preference_path %>
    <%= link_to 'List', host_preferences_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Implement Time
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Implement', new_implement_path %>
    <%= link_to 'List', implements_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Preferred Budget
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Prefbudget', new_prefbudget_path %>
    <%= link_to 'List', prefbudgets_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Set Budget
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Setbudget', new_setbudget_path %>
    <%= link_to 'List', setbudgets_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    System Pref
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New System preference', new_system_preference_path %>
    <%= link_to 'List', system_preferences_path %>
  </ul>
</div>
<br />
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Usercount
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to 'New Usercount', new_usercount_path %>
    <%= link_to 'List', usercounts_path %>
  </ul>
</div>






