<h1>Listing companies</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Contact(s)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.contact %></td>
    <td><%= link_to 'Show', company, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_company_path(company), class: "btn" %></td>
    <td><%= link_to 'Destroy', company, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path, class: "btn" %>
