	<div class="form-inputs">	
		<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                 General Company Information
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <%= f.input :name, label: "Company name", placeholder: "Enter company name"  %>
    
   			      <%= f.input :contact, label: "Contact(s)", placeholder: "Names of people involved" %>
			   
			      <%= f.input :email, label: "Email(s)", placeholder: "Emails of contacts" %>
			    
			      <%= f.label "Industry" %>
			    
			      <%= f.collection_select :industry, Company::INDUSTRIES, :to_s, :to_s, 
			       :include_blank => true %>
			     
			      <%= f.input :other1, label: "Other"%>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Project Information
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= f.input :description, label: "Project Description", placeholder: "Enter a description of your project", class: :textarea %>
				    <%= f.label "What system do you currently use?" %>
				    <%= f.collection_select :currentsystem, Company::CURRENTSYSTEMS, :to_s, :to_s, 
				       :include_blank => true %>
				    <%= f.input :other2, label: "Other" %>
				    <%= f.label "How many user will need access to the system?" %>
				    <%= f.collection_select :usercount, Company::USERCOUNTS, :to_s, :to_s, 
				       :include_blank => true %>
				    <%= f.label "What is your preferred system type?" %>
				    <%= f.collection_radio_buttons :system_preference, Company::SYSTEM_PREFERENCES, :to_s, :to_s %>
				    <br />
				    <%= f.label "If web based, which hosting option would you prefer?" %>
				    <%= f.collection_radio_buttons :host_preference, Company::HOST_PREFERENCES, :to_s, :to_s %>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  Budget and Implementation
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= f.label "When do you plan on implementing this system?"%>
				    <%= f.collection_select :implement_id, Company::IMPLEMENTS, :to_s, :to_s, 
				       :include_blank => true %>
				    <br />
				    <%= f.input :budget, as: :radio, label: "Do you have a budget for this project?" %>
				    <br />
				    <%= f.label "What is your budget range?" %>
				    <%= f.collection_select :setbudget, Company::SETBUDGETS, :to_s, :to_s, 
				       :include_blank => true %>
				    <%= f.label "What is your preferred budget range?" %>
				    <%= f.collection_select :prefbudget, Company::PREFBUDGETS, :to_s, :to_s, 
				       :include_blank => true %>   
				    <%= f.input :comments %>
                </div>
              </div>
            </div>
          </div>
       </div>
